@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@font-face {
  font-family: 'Northwell';
  src: url("../fonts/Northwell.eot");
  src: local("☺"), url("../fonts/Northwell.woff") format("woff"), url("../fonts/Northwell.ttf") format("truetype"), url("../fonts/Northwell.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.button-link {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px;
  color: white;
  -webkit-box-shadow: 0 0 0 2px white;
          box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}

.button {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}

.button-link:before,
.button-link:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.button-link:before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: white;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.button-link:after {
  background: #fec018;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
  transition: -webkit-transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
  transition: transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
  transition: transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s, -webkit-transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
}

.button-link:hover:before,
.button-link:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.logo {
  font-family: Northwell;
  color: #fec018;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.slide-show {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.baner1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  background-image: url("../images/slider1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.baner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  background-image: url("../images/slider2.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.baner3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  background-image: url("../images/slider3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.banet-title1 {
  margin: 0;
  padding: 0;
  font-family: Dancing Script;
  color: #fff;
  font-size: 100px;
}

.text1 {
  font-size: 20px;
  color: #fff;
}

.baner-title2 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
}

.baner-title2__span {
  font-weight: 700;
}

.heder-nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  vertical-align: top;
  padding: 0 8px 0 9px;
  font-family: Oswald, sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.15em;
}

.navigate {
  cursor: pointer;
  text-transform: uppercase;
}

.navigate:hover {
  color: #fec018;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  outline: none;
  display: block;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.topmenu {
  text-align: center;
  padding: 10px 0;
}

.topmenu > li {
  display: inline-block;
  position: relative;
}

.topmenu > li:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 12px;
  background: #f2efe8;
  top: 16px;
  -webkit-box-shadow: 4px -2px 0 #d2d2d2;
          box-shadow: 4px -2px 0 #d2d2d2;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.topmenu > li:last-child:after {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.topmenu > li > a {
  padding: 12px 26px;
  color: #767676;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Exo 2', sans-serif;
}

.topmenu li a:hover {
  color: #fec018;
}

.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.submenu li a {
  padding: 10px 0;
  margin: 0 10px;
  border-bottom: 1px solid #efefef;
  font-size: 12px;
  color: #484848;
  font-family: 'Kurale', serif;
}

.topmenu > li:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body {
  font-family: Lato, sans-serif;
  background-image: url("../images/main-bg-img.jpg");
  background-attachment: fixed;
}

.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */