// .logo {
//   background-color: red;

//   &:hover {
//     background-color: orange;
//   }
// }
.title {
  font-family: Northwell;
  color: $icons-color;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
