// body {background: #ebcacb;}
.button-link {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 10px;
  color: white;
  box-shadow: 0 0 0 2px white;
  padding: 20px 0;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
}
.button {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 5;
}
.button-link:before,
.button-link:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.button-link:before {
  transform: translateX(-100%);
  background: white;
  transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.button-link:after {
  background: $accent-color;
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.16, 0.73, 0.58, 0.62) 0.3s;
}
.button-link:hover:before,
.button-link:hover:after {
  transform: translateX(0);
}
